<!DOCTYPE html>
<html>
    <head>
        <title>MBIT: Arquitectura de Software</title>
    </head>
    <body>
        <h1>Maestría en Tecnologías de la Información para el Negocio</h1>
        <h2>Arquitectura de Software</h2>
        <h3>Octubre de 2023</h3>
        <p>Grupor conformado por:</p>
        <ul>
            <li>José Camilo Alemán</li>
            <li>María Angélica Guerrero</li>
            <li>Lida Marcela Plazas</li>
            <li>Alfredo Ordoñez Casanova</li>
            <li>Andrea Carolina Montoya</li>
        </ul>
    </body>
</html>